<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function(){
            
        })

        function send(){
            var data= $('#data').val()

            $.get('view',{data},function(rt){
                
                row="<ul>"
                rt.products.map(ele=>{
                    row += `<li>${ele.name}</li>`

                })    
                row += "</ul>"
                $("#tdata").html(row)
            })
        }

        function countries() {
            $.get("countries",{},function(rt){
                rt.countries.map(ele=>{
                    option += `<option>${ele.name}</option>`
                })
                $("#country").html(options)
            })
        }


 
    </script>
</head>
<body>
    <input type="text" name="data" id="data" onkeyup="send()">
    <!-- <button onclick="send()">Click Me</button> -->
     <div id="tdata"></div>
     <br>
     <hr>
     <br>
     <select name="country" id="country">
        <option value="0">-----select state------</option>
     </select>
     <select name="state" id="state">
        <option value="0">----------select state-----</option>
     </select>
     <select name="city" id="city">
        <option value="0">-----------select city-------</option>
     </select>
</body>
</html>