{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="fashion_section">
    <div class="container">
        <h1 class="fashion_taital">Electronic</h1>

        <div class="fashion_section_2">
            <div class="row">

                {% for ele in products %}

                <div class="col-lg-4 col-sm-4">
                    <div class="box_main">

                        <h4 class="shirt_text">{{ ele.name }}</h4>

                        <p class="price_text">
                            Price <span style="color:#262626;">
                                ₹ {{ ele.price }}
                            </span>
                        </p>

                        <div class="electronic_img">
                            <img src="{{ ele.image.url }}" class="img-fluid">
                        </div>

                        <div class="btn_main">

                            <!-- BUY NOW -->
                            <!-- <div class="buy_bt">
                                <a href="{% url 'addtocart' %}?pid={{ ele.id }}">
                                    Buy Now
                                </a>
                            </div> -->
                        <button type="button" onclick="addtocart('{{ ele.id }}')">
                            Buy Now
                        </button>
                            <!-- SEE MORE -->
                            <div class="seemore_bt">
                                <a href="{% url 'details' %}?pid={{ ele.id }}">
                                    See More
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

                {% empty %}
                    <h4 class="text-center">No Electronic Products Found</h4>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}