{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>

<div class="fashion_section">
    <div class="container">

        <h1 class="fashion_taital">Man & Woman Fashion</h1>

        <div class="fashion_section_2">
            <div class="row">

                {% for ele in products %}

                <div class="col-lg-4 col-sm-4">
                    <div class="box_main">

                        <h4 class="shirt_text">{{ ele.name }}</h4>

                        <p class="price_text">
                            Price <span>₹ {{ ele.price }}</span>
                        </p>

                        <div class="tshirt_img">
                            <img src="{{ ele.image.url }}" class="img-fluid">
                        </div>

                        <div class="btn_main">

                            <!-- Buy Now -->
                            <div class="buy_bt">
                                <button type="button" onclick="addtocart('{{ ele.id }}')">
                                    Buy Now
                                </button>
                            </div>

                            <!-- See More -->
                            <div class="seemore_bt">
                                <a href="{% url 'details' %}?pid={{ ele.id }}">
                                    See More
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

                {% empty %}
                    <h4 class="text-center mt-4">No Fashion Products Available</h4>
                {% endfor %}

            </div>
        </div>

    </div>
</div>

{% endblock %}