{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>

<div class="jewellery_section">
    <div class="container">
        <h1 class="fashion_taital">Jewellery Accessories</h1>

        <div class="fashion_section_2">
            <div class="row">

                {% for product in products %}
                <div class="col-lg-4 col-sm-4">
                    <div class="box_main">

                        <h4 class="shirt_text">{{ product.name }}</h4>

                        <p class="price_text">
                            Start Price 
                            <span style="color:#262626;">
                                ${{ product.price }}
                            </span>
                        </p>

                        <div class="jewellery_img">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>

                        <div class="btn_main">

                            <div class="buy_bt">
                                <button type="button" onclick="addtocart('{{ product.id }}')">
                                    Buy Now
                                </button>
                            </div>

                            <div class="seemore_bt">
                                <a href="{% url 'details' %}?pid={{ product.id }}">
                                    See More
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}