{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/app.js"></script>
</head>
<body>
    <a href="{%url 'index'%}">Home</a> | <a href="{%url 'About'%}">About</a> | <a href="{%url 'Contact'%}">Contact</a> | <a href="{%url 'Help'%}">Help</a>


    {%block body%}
    {%endblock%}
</body>
</html>