<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function(){
            viewstudent()
        })
        function addstudent(){
            var name=$("#name").val()
            var email=$("#email").val()
            var phone=$("#phone").val()
            var csrfmiddlewaretoken=$('input[name="csrfmiddlewaretoken"]').val()

            $.post('register',{csrfmiddlewaretoken,name,email,phone},function(rt){
                alert(rt)

                $("#name").val("")
                $("#email").val("")
                $("#phone").val("")
                viewstudent()
            })
        }
        function addstudent(){
            var name=$("#name").val()
            var email=$("#email").val()
            var phone=$("#phone").val()
            var csrfmiddlewaretoken=$('input[name="csrfmiddlewaretoken"]').val()

            $.post('register',{csrfmiddlewaretoken,name,email,phone},function(rt){
                alert(rt)

                $("#name").val("")
                $("#email").val("")
                $("#phone").val("")
                viewstudent()
            })
        }

        function updatestudent(){

            var id=$("#id").val()
            var name=$("#name").val()
            var email=$("#email").val()
            var phone=$("#phone").val()
            var csrfmiddlewaretoken=$('input[name="csrfmiddlewaretoken"]').val()

            $.post('update',{csrfmiddlewaretoken,id,name,email,phone},function(rt){
                alert(rt)

                $("#id").val("")
                $("#name").val("")
                $("#email").val("")
                $("#phone").val("")
                viewstudent()
            })
        }

        function viewstudent(){
            $.get("display",{},function(rt){
                rows=""
                rt.student.map(ele=>{    
                   rows+= `<tr>
                    <td>${ele.id}</td>
                    <td>${ele.name}</td>
                    <td>${ele.email}</td>
                    <td>${ele.phone}</td>
                    <td><button onclick='deletestudent(${ele.id})'>Delete</button></td>
                    <td><button onclick='getbyid(${ele.id})'>Edit</button></td>
                    </tr>`
                })
                $("#tdata").html(rows)
            })
        }

        function deletestudent(sid){
            $.get("delete",{sid},function(rt){
                alert(rt)
                viewstudent()
            })
        }

        function getbyid(sid){
            $.get("getbyid",{sid},function(rt){
               
                $("#id").val(rt.student[0].id)
                $("#name").val(rt.student[0].name)
                $("#email").val(rt.student[0].email)
                $("#phone").val(rt.student[0].phone)
            })
        }
    </script>
</head>
<body>
    <h1>Student Regitrastion</h1>
    {%csrf_token%}
    <input type="hidden" id="id">
    <input type="text" name="name" id="name" placeholder="Enter Name">
    <br>
    <input type="text" name="email" id="email" placeholder="Enter Email">
    <br>
    <input type="text" name="phone" id="phone" placeholder="Enetr Phone">
    <br>
    <button type="submit" onclick="addstudent()">Submit</button>
    <button type="submit" onclick="updatestudent()">Update</button>
    <input type="reset">

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody id="tdata">

        </tbody>
    </table>
</body>
</html>