*{
     padding: 0;
     margin: 0;
}

body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 0.32) 22%, rgba(148, 187, 233, 1) 87%);
    width: 100%;
    height: 100vh;
}

header{
    background-color:rgb(25, 1, 1);
    width: 100%;
    height: 15%;
}

header img{
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100px;
    display: flex;
    float: left;
}

header h5{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(204, 202, 225);
    width: 70%;
    height: 100%;
    float: right;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline solid white;
}

.main{
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    display: flex;
}

.login table td{
    padding: 10px;
    font-size: 16px;
}

.login{
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 450px;
    text-decoration-color: aliceblue;
background-color: #fff8e6;
    border: 1px solid rgb(46, 35, 35);
    border-radius: 4px;
    box-shadow: 1.5px 1.5px;
    flex-direction: column;
    display: flex ;
}

.btn{
    width: 80px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(199, 148, 200);
}

.textfield{
    width: 180px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
}

footer{
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
}