{% extends 'base.html' %}

{% block content %}

<form method="GET">

<div class="input-group mb-3">

<input type="text" name="q" class="form-control" placeholder="Search blog...">

<button class="btn btn-dark">Search</button>

</div>

</form>

<br>

<a href="{% url 'create_post' %}" class="btn btn-primary">
Create New Post
</a>

<hr>

<div class="container mt-4">

<div class="row">

{% for post in posts %}

<div class="col-md-6 mb-4">

<div class="card shadow-sm">

{% if post.image %}
<img src="{{post.image.url}}" class="card-img-top" style="height:250px; object-fit:cover;">
{% endif %}

<div class="card-body">

<h4 class="card-title">{{post.title}}</h4>

<p class="text-muted">
By {{post.author.username}}
</p>

<p class="card-text">
{{post.content|truncatewords:20}}
</p>

<a href="{% url 'blog_detail' post.id %}" class="btn btn-dark">
Read More
</a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>



{% endblock %}