{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- fashion section -->
{%for products in p%}
<div class="fashion_section">
    <div id="main_slider" class="carousel slide">

        <div class="carousel-inner">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="container">
                    <h1 class="fashion_taital">Man & Woman Fashion</h1>

                    <div class="fashion_section_2">
                        <div class="row">

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man T-shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/tshirt-img.png' %}" alt="Man T-shirt">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man Shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/dress-shirt-img.png' %}" alt="Man Shirt">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Woman Skirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/women-clothes-img.png' %}" alt="Woman Skirt">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Man & Woman Fashion</h1>

                    <div class="fashion_section_2">
                        <div class="row">

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man T-shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/tshirt-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man Shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/dress-shirt-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Woman Skirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/women-clothes-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="container">
                    <h1 class="fashion_taital">Man & Woman Fashion</h1>

                    <div class="fashion_section_2">
                        <div class="row">

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man T-shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/tshirt-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Man Shirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/dress-shirt-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-4">
                                <div class="box_main">
                                    <h4 class="shirt_text">Woman Skirt</h4>
                                    <p class="price_text">Price <span>$30</span></p>

                                    <div class="tshirt_img">
                                        <img src="{% static 'img/women-clothes-img.png' %}">
                                    </div>

                                    <div class="btn_main">
                                        <div class="buy_bt"><a href="#">Buy Now</a></div>
                                        <div class="seemore_bt"><a href="#">See More</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- slider arrows -->
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>

        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>

    </div>
</div>
{%endfor%}
{% endblock %}
