{% extends 'base.html' %}
{% block body %}

<div class="fashion_section">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">

               <h1 class="fashion_taital">Man & Woman Fashion</h1>

               <div class="fashion_section_2">

                  <div class="row" style="margin-bottom:30px;" id="catdata" >
                     <!-- {% for cat in categories %}
                     
                     {% endfor %} -->
                  </div>

                  <div class="row" id="prodata">
                     <!-- {% for prod in products %}
                    
                     {% endfor %} -->
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   $(document).ready(function(){
      getproducts()
      getcategories()
   })

   function getproducts(catid){
      if (catid == undefined){
         catid=0
      }
      $.get("getproducts",{catid},function(rt){
         
         var pro=""
         rt.products.map(ele=>{
            pro+= `<div class="col-lg-4 col-sm-4">
                        <div class="box_main">

                           <div class="tshirt_img">
                              <img src="media/${ele.image}">
                           </div>

                           <h4 class="shirt_text">${ ele.name}</h4>
                           <h1 class="price_text">₹ ${ ele.price }</h1>

                           <div class="btn_main">
                              <div class="buy_bt">
                                 <a onclick='addtocart(${ele.id})'>Buy Now</a>
                              </div>
                              <div class="seemore_bt">
                                 <a href="{% url 'details' %}?pid=${ele.id}">
                                    See More
                                 </a>
                              </div>
                           </div>

                        </div>
                     </div>`
         })
         $("#prodata").html(pro)
      })
      }

   function getcategories(){
      $.get("getcategories",{},function(rt){

         var cats= ""
         rt.categories.map(ele=>{
             cats+= `<div class="col-lg-4 col-sm-4 text-center">

                        <h2 class="shirt_text">${ele.name}</h2>

                        <div class="category_img">
                           <a href="javascript:void(0)" onclick="getproducts(${ele.id})">
                              <img src="media/${ele.image}" class="img-fluid">
                           </a>
                        </div>

                     </div>`

         })
         $("#catdata").html(cats)
      })
   }


   function search(q){
            $.get("searchproduct",{q},function(rt){
         
         var pro=""
         rt.products.map(ele=>{
            pro+= `<div class="col-lg-4 col-sm-4">
                        <div class="box_main">

                           <div class="tshirt_img">
                              <img src="media/${ele.image}">
                           </div>

                           <h4 class="shirt_text">${ ele.name}</h4>
                           <h1 class="price_text">₹ ${ ele.price }</h1>

                           <div class="btn_main">
                              <div class="buy_bt">
                                 <a href="#">Buy Now</a>
                              </div>
                              <div class="seemore_bt">
                                 <a href="{% url 'details' %}?pid=${ele.id}">
                                    See More
                                 </a>
                              </div>
                           </div>

                        </div>
                     </div>`
         })
         $("#prodata").html(pro)
      })
   }


   function addtocart(pid){
      $.get('addtocart',{pid},function(rt){
         if (rt=='AnonymousUser'){
            location.href="user-login"
         }
         else{
            alert(rt)
         }
      })
   }

</script>

{% endblock %}
