{% extends 'base.html' %}
{% block body %}

<div class="fashion_section">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">

               <h1 class="fashion_taital">Man & Woman Fashion</h1>

               <div class="fashion_section_2">

                  <div class="row" style="margin-bottom:30px;" id="catdata" >
                     {% for cat in categories %}
                     <div class="col-lg-4 col-sm-4 text-center">

                        <h2 class="shirt_text">{{ cat.name }}</h2>

                        <div class="category_img">
                           <a href="{% url 'index' %}?cid={{ cat.id }}">
                              <img src="{{ cat.image.url }}" class="img-fluid">
                           </a>
                        </div>

                     </div>
                     {% endfor %}
                  </div>

                  <div class="row">
                     {% for prod in products %}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">

                           <div class="tshirt_img">
                              <img src="{{ prod.image.url }}">
                           </div>

                           <h4 class="shirt_text">{{ prod.name }}</h4>
                           <h1 class="price_text">₹ {{ prod.price }}</h1>

                           <div class="btn_main">
                              <div class="buy_bt">
                                 <a href="#">Buy Now</a>
                              </div>
                              <div class="seemore_bt">
                                 <a href="{% url 'details' %}?pid={{ prod.id }}">
                                    See More
                                 </a>
                              </div>
                           </div>

                        </div>
                     </div>
                     {% empty %}
                     <p style="text-align:center;width:100%;">
                        No products found in this category.
                     </p>
                     {% endfor %}
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   $(document).ready(function(){
      getproducts()
      getcategories()
   })

   function getproducts(){
      $.get("getproducts",{},function(rt){
         alert(rt)
      })

   function getcategories(){
      $.get("getcategories",{},function(rt){

         rt.categories.map(ele=>{

         })

      })
   }
   }
</script>

{% endblock %}