{% extends 'base.html' %}

{% block content %}

<h2>All Courses</h2>

<div class="row">
    {% for course in courses %}
        <div class="col-md-4 mb-4">
            <div class="card p-3 shadow-sm">
                <h5>{{ course.title }}</h5>
                <p>{{ course.description|truncatewords:15 }}</p>

                <a href="/courses/{{ course.id }}/" class="btn btn-primary btn-sm">
                    View Details
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}